# Editor
/.vscode/
.editorconfig

# Configuração
/config.ini

# Dados
/animais.txt
/divulgações.ini
/musicas.txt
/*.tmp
/*.bak
/*.dat
/*.dir

# Compilação do codigo fonte
__pycache__/
*.py[cod]

# Artefatos
*.egg-info
/dist/
