.md-header {
    background-color: #cd3066;
}

.md-icon,
[dir="ltr"] .md-source__icon + .md-source__repository {
    color: white;
}

a,
.nav__link,
.md-typeset a {
    color: #cd3066
}

.md-typeset a:focus, 
.md-typeset a:hover,
.md-nav__link:focus, 
.md-nav__link:hover,
.md-nav__item .md-nav__link--active {
    color: #681563;
}

.md-footer {
    background-color: #7109b6;
}